body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    text-align: center;
}
.main-div{
    width: 560px;
    height: 560px;
    margin: 0 auto;
    margin-top: 5em;
}

.head{
    width: 100%;
    margin: 0 auto;
    border: 5px solid gray;
    background-color: rgb(5, 5, 77);
    color: white;
    border-top-left-radius: 2.5px;
    border-top-right-radius: 2.5px;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border: 5px solid gray;
    margin: 0 auto;
}

.grid div{
    width: 20px;
    height: 20px;
}

.pacdots{
    background-color: gray;
    border: 8px solid white;
    box-sizing: border-box;
    /* border-radius: 100%; */
}

.wall{
    background-color: rgb(5, 5, 77);
}

.power-pellet{
    background-color: rgb(216, 8, 235);
    border-radius: 100%;
}
.pacman{
    background-color: yellow;
    border-radius: 100%;
}

.blinky {
    background-color: red;
    border: none;
}

.pinky {
    background-color: pink;
    border: none;
}

.inky {
    background-color: rgb(84, 216, 7);
    border: none;
}

.clyde {
    background-color: orange;
    border: none;
}

.scared-ghost{
    background-color: aqua;
}
